.feature-page .container {
    display: grid;
    place-items: center;
}

.feature-page-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-bottom: 32px;
}

.feature-page__post {
    max-width: 451px;
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 40px;
}

.feature-page__post-image {
    display: grid;
    place-items: center;
}

.feature-page__post-title {
    color: var(--white, var(--color-color-background-primary, #fff));
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 16px 0 16px 0;
}

.feature-page__post-description {
    color: var(--white, var(--color-color-background-primary, #fff));
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.feature-page__post-link {
    color: var(--link-color, #3f97ff);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.feature-page__post {
    display: none;
}

.feature-page__post:nth-child(-n + 12) {
    display: block;
}

.feature-page__btn {
    display: inline-flex;
    height: 52px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--white, #fff);
    background: transparent;
    color: var(--white, var(--color-color-background-primary, #fff));
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 auto;
}

.feature-page__btn:hover {
    cursor: pointer;
}

@media (max-width: 450px) {
    .feature-page-grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-page__post-title {
        font-size: 18px;
        line-height: 22px;
    }

    .feature-page__post-description {
        font-size: 14px;
        line-height: 22px;
    }
}
